.App {
  text-align: center;
}

.sticky {
}

.row-border {
  border-bottom: 1px dashed #000;
}

.margin-top {
  margin-top: 100px;
}

fieldset {
  text-align: center;
}

.border {
  border: 1px solid #ccc !important;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  margin: 30px;
  display: inline-block;
}

.border .legend {
  border: 1px solid #ccc !important;
  border-radius: 7px;
  background-color: #eee;
  padding: 6px 15px;
  top: -20px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
}

input[type="text"],
input[type="password"],
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  color: #999;
}
